# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto

#
# The above will handle all files NOT found below
#
# These files are text and should be normalized (Convert crlf => lf)
*.css           crlf=input
*.df            crlf=input
*.htm           crlf=input
*.html          crlf=input
*.java          crlf=input
*.js            crlf=input
*.json          crlf=input
*.jsp           crlf=input
*.jspf          crlf=input
*.properties    crlf=input
*.sh            crlf=input
*.sql           crlf=input
*.svg           crlf=input
*.tld           crlf=input
*.txt           crlf=input
*.xml           crlf=input

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.class         binary
*.dll           binary
*.ear           binary
*.gif           binary
*.ico           binary
*.jar           binary
*.jpg           binary
*.jpeg          binary
*.png           binary
*.so            binary
*.war           binary
